html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 250);
    font-family:'Microsoft YaHei', '微软雅黑', '黑体', Arial,'Times New Roman', sans-serif;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-nav{
    margin-left: 30px;
}
.treeDiv{
    width:100%;
    height: 100% ;
    border-radius: 3px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.sections,.section {
    height:100%;
}
#attachment,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
#section0 {
    background-image: url('../images/banner/banner1.png');
}
#section1 {
    background-image: url('../images/banner/banner1.png');
}