

#pieChart{
    width: 100%;
    height: 500px;
}

#barChart{
    width: 100%;
    height: 500px;
}

.bubble{
    width: 92px;
    height: 92px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid transparent;
    background-color: rgba(57,172,106,0.9);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.bubble p{
        overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
} 

.bubble-mouseover{
     background-color:orangered;
}

.bubble:hover {
    background-color: #e4393c;
    background-color: rgba(228,57,60,0.9);
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}