html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 250);
    font-family:'Microsoft YaHei', '微软雅黑', '黑体', Arial,'Times New Roman', sans-serif;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-nav{
    margin-left: 30px;
}

.title-info{
    line-height: 24px;
    font-size: 24px;
    font-weight: 700;
    color: #1e3657;
    padding-bottom: 8px;
}
.titleInfo_bottom {
    font-size: 12px;
    color: #9db0c1;
    line-height: 12px;
}
.produceInfoDiv{
    padding-left: 120px;
    background-color: white;
    border-radius: 5px;
    height:120px;
}
.produceInfoDiv_left{
    float:left;
    margin-left: -120px;
    width: 120px;
    height: 120px;
    background-color: #ff5782;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding-top: 22px;
}
.produceInfoDiv_left>div>span {
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding-top: 8px;
}
.produceInfoDiv_right{
    padding-top: 22px;
    text-align: center;
    width:100%;
}
.produceInfoDiv_right>div>span{
    font-size: 36px;
    font-weight: bold;
    color: #63829B;
}
.produceInfoDiv_right >div >a{
    color: red;
}

#pieChart{
    width: 100%;
    height: 300px;
}

#barChart{
    width: 100%;
    height: 300px;
}
.bar_title{
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #1e3657;
    padding-bottom: 8px;
}

#information>li>a{
    font-size: 18px;
    font-family: 'Microsoft YaHei', '微软雅黑', '黑体', Arial, 'Times New Roman', sans-serif;
}